.contact-us{
width: 315px;
height: 70px;
margin-top: 45px;
margin-left: 188px;
margin-bottom: 0px;
opacity: 1;

font-family: Poppins;
font-weight: 800;
font-style: ExtraBold;
font-size: 48px;
line-height: 100%;
letter-spacing: 0%;


}

.contact-desc{

width: 975px;
height: 72px;
margin-top: 0px;
margin-left: 188px;

opacity: 1;


}